<%- include('../header') -%>
<head>
    <title>Profile</title>
</head>
<body>
<h1>Profile</h1>

<div>
    <% if (user) { %>
        <h2><%= user.email %></h2>
        <h2><%= user.role %></h2>
    <% } %>
</div>

<% if(user.role === "ADMIN") { %>
    <a href="users">User list</a>
<% } %>

<a href="logout"><h3>Logout</h3></a>
</body>
